## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Avarua,CK,75.20,overcast clouds,-21.21,-159.78,Paradise Inn
1,7,Caucaia,BR,84.20,few clouds,-3.74,-38.65,M.O.S. Logística - Filial Fortaleza
2,16,Kapaa,US,80.01,moderate rain,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
3,20,Tual,ID,82.27,broken clouds,-5.67,132.75,Grand Vilia Hotel
4,22,Alyangula,AU,78.80,scattered clouds,-13.85,136.42,Groote Eylandt Lodge

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 4b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [73]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'San Antonio']
vacation_end = vacation_df.loc[vacation_df['City'] == 'San Antonio']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'San Quintin']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Cabo San Lucas'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Ixtapa']

In [74]:
vacation_start[['Lat','Lng']]

      Lat    Lng
24  29.42 -98.49

In [75]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_df.loc[vacation_start.index][['Lat','Lng']].to_numpy()[0])
end = tuple(vacation_df.loc[vacation_start.index][['Lat','Lng']].to_numpy()[0])
stop1 = tuple(vacation_df.loc[vacation_stop1.index][['Lat','Lng']].to_numpy()[0])
stop2 = tuple(vacation_df.loc[vacation_stop2.index][['Lat','Lng']].to_numpy()[0])
stop3 = tuple(vacation_df.loc[vacation_stop3.index][['Lat','Lng']].to_numpy()[0])

In [76]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
san_stops = [stop1,stop2,stop3]
san_trip = gmaps.directions_layer(start,end, waypoints=san_stops,travel_mode='DRIVING')
fig.add_layer(san_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [77]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,103,San Antonio,US,80.60,few clouds,29.42,-98.49,Marriott Plaza San Antonio
1,38,San Quintin,MX,79.83,scattered clouds,30.48,-115.95,Old Mill Hotel
2,423,Cabo San Lucas,MX,87.01,clear sky,22.89,-109.91,Hotel Tesoro Los Cabos
3,142,Ixtapa,MX,86.00,clear sky,20.70,-105.20,Container Inn Puerto Vallarta

In [81]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [82]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))